* {
    padding: 0;
    margin: 0;
}

body {
    background-attachment: fixed;
    background-color: #f4f4f4;
}

.title .title_intro {
    width: 4px;
    height: 18px;
    background-color: #254CCA;
    display: inline-block;
}

.title .title_font {
    display: inline-block;
    font-weight: 500;
    margin-left: 10px;
    font-size: 20px;
}

.title {
    display: flex;
    align-items: center;
}

.font_ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right_info {
    position: absolute;
    right: 20px;
}

.right_info .info_font {
    color: #999999;
}

.clickable {
    cursor: pointer;
}
